<?xml version="1.0"?>
<config>
    <modules>
        <CommerceLab_Mcenter>
            <version>1.0.2</version><platform>ce</platform>
        </CommerceLab_Mcenter>
    </modules>
    <admin>
        <routers>
            <clmcenter>
                <use>admin</use>
                <args>
                    <module>CommerceLab_Mcenter</module>
                    <frontName>clmcenter</frontName>
                </args>
            </clmcenter>
        </routers>
    </admin>
    <frontend>
        <routers>
            <clmcenter>
                <use>standard</use>
                <args>
                    <module>CommerceLab_Mcenter</module>
                    <frontName>clmcenter</frontName>
                </args>
            </clmcenter>
        </routers>
        <layout>
            <updates>
                <clmcenter>
                    <file>clmcenter.xml</file>
                </clmcenter>
            </updates>
        </layout>
        <translate>
            <modules>
                <CommerceLab_Mcenter>
                    <files>
                        <CommerceLab_Mcenter>CommerceLab_Mcenter.csv</CommerceLab_Mcenter>
                    </files>
                </CommerceLab_Mcenter>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <CommerceLab_Mcenter>
                    <files>
                        <default>CommerceLab_Mcenter.csv</default>
                    </files>
                </CommerceLab_Mcenter>
            </modules>
        </translate>

        <menu>
            <clmcenter module="clmcenter">
                <title>Мед. центр</title>
                <sort_order>80</sort_order>
                <children>
                    <add translate="title" module="clmcenter">
                        <title>Добавить статью</title>
                        <sort_order>0</sort_order>
                        <action>clmcenter/adminhtml_mcenter/new</action>
                    </add>
                    <items translate="title" module="clmcenter">
                        <title>Менеджер</title>
                        <sort_order>10</sort_order>
                        <action>clmcenter/adminhtml_mcenter/index</action>
                    </items>
                    <category module="clmcenter">
                        <title>Categories</title>
                        <sort_order>20</sort_order>
                        <action>clmcenter/adminhtml_category/</action>
                    </category>
                    <comments module="clmcenter">
                        <title>Comments</title>
                        <sort_order>30</sort_order>
                        <action>clmcenter/adminhtml_comment/</action>
                    </comments>
                    <settings translate="title" module="clmcenter">
                        <title>Settings</title>
                        <sort_order>40</sort_order>
                        <action>adminhtml/system_config/edit/section/clmcenter</action>
                    </settings>
                </children>
            </clmcenter>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <clmcenter>
                            <title>Mcenter</title>
                            <sort_order>50</sort_order>
                            <children>
                                <items translate="title">
                                    <title>Mcenter</title>
                                    <sort_order>10</sort_order>
                                </items>
                                <category translate="title">
                                    <title>Categories</title>
                                    <sort_order>20</sort_order>
                                </category>
                                <comments translate="title">
                                    <title>Comments</title>
                                    <sort_order>30</sort_order>
                                </comments>
                            </children>
                        </clmcenter>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <clmcenter>
                                            <title>Mcenter Section</title>
                                        </clmcenter>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <clmcenter>
                    <file>clmcenter.xml</file>
                </clmcenter>
            </updates>
        </layout>
        <events>
            <!-- 
            <controller_action_predispatch>
                <observers>
                    <clmcenter>
                        <type>singleton</type>
                        <class>clmcenter/check</class>
                        <method>checkExtensions</method>
                    </clmcenter>
                </observers>
            </controller_action_predispatch> -->
            <admin_system_config_changed_section_clmcenter>
                <observers>
                    <admin_system_config_changed_section_clmcenter>
                        <class>clmcenter/check</class>
                        <method>checkConfiguration</method>
                    </admin_system_config_changed_section_clmcenter>
                </observers>
            </admin_system_config_changed_section_clmcenter>
        </events>
    </adminhtml>
    <global>
        <models>
            <clmcenter>
                <class>CommerceLab_Mcenter_Model</class>
                <resourceModel>clmcenter_mysql4</resourceModel>
            </clmcenter>
            <clmcenter_mysql4>
                <class>CommerceLab_Mcenter_Model_Mysql4</class>
                <entities>
                    <mcenter>
                        <table>clmcenter_mcenter</table>
                    </mcenter>
                    <comment>
                        <table>clmcenter_comment</table>
                    </comment>
                    <category>
                        <table>clmcenter_category</table>
                    </category>
                    <mcenter_category>
                        <table>clmcenter_mcenter_category</table>
                    </mcenter_category>
                    <!--<store>
                        <table>clmcenter_store</table>
                    </store>-->
                    <mcenter_store>
                        <table>clmcenter_mcenter_store</table>
                    </mcenter_store>
                    <category_store>
                        <table>clmcenter_category_store</table>
                    </category_store>
                </entities>
            </clmcenter_mysql4>
        </models>
        <resources>
            <clmcenter_setup>
                <setup>
                    <module>CommerceLab_Mcenter</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </clmcenter_setup>
            <clmcenter_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </clmcenter_write>
            <clmcenter_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </clmcenter_read>
        </resources>
        <blocks>
            <clmcenter>
                <class>CommerceLab_Mcenter_Block</class>
            </clmcenter>
        </blocks>
        <helpers>
            <clmcenter>
                <class>CommerceLab_Mcenter_Helper</class>
            </clmcenter>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <clmcenter>
                        <type>singleton</type>
                        <class>CommerceLab_Mcenter_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </clmcenter>
                </observers>
            </controller_front_init_routers>
        </events>
        <rewrite>
            <clmcenter_category_view>
                <complete />
                <from>#^/clmcenter/category/([A-Za-z0-9\-\_]+)\.html/*#</from>
                <to>/clmcenter/index/index/category/$1</to>
            </clmcenter_category_view>
            <clmcenter_mcenteritem_view>
                <complete />
                <from>#^/clmcenter/([A-Za-z0-9\-\_]+)\.html/*#</from>
                <to>/clmcenter/mcenteritem/view/key/$1</to>
            </clmcenter_mcenteritem_view>
            <clmcenter_mcenteritem_category_view>
                <complete />
                <from>#^/clmcenter/([A-Za-z0-9\-\_]+)/([A-Za-z0-9\-\_]+)\.html/*#</from>
                <to>/clmcenter/mcenteritem/view/category/$1/key/$2</to>
            </clmcenter_mcenteritem_category_view>
        </rewrite>
        <template>
            <email>
                <clmcenter_comments_email_template translate="label" module="clmcenter">
                    <label>New Comment</label>
                    <file>clmcenter/new_comment.html</file>
                    <type>text</type>
                </clmcenter_comments_email_template>
            </email>
        </template>
    </global>
    <default>
        <clmcenter>
            <mcenter>
                <title>Mcenter</title>
                <route>mcenter</route>
                <showbreadcrumbs>1</showbreadcrumbs>
                <itemsperpage>10</itemsperpage>
                <itemurlsuffix>.html</itemurlsuffix>
                <showdateofmcenter>1</showdateofmcenter>
                <showtimeofmcenter>0</showtimeofmcenter>
                <shortdescr_image_max_width>150</shortdescr_image_max_width>
                <shortdescr_image_max_height>120</shortdescr_image_max_height>
                <fulldescr_image_max_width>400</fulldescr_image_max_width>
                <fulldescr_image_max_height>300</fulldescr_image_max_height>
                <resize_to_max>1</resize_to_max>
            </mcenter>
            <comments>
                <enabled>1</enabled>
            </comments>
        </clmcenter>
    </default>
</config>
