<?xml version="1.0"?>
<config>
    <modules>
        <Mygento_Cdek>
            <version>2.2.0.6</version>
        </Mygento_Cdek>
    </modules>
    <adminhtml>
        <events>
            <sales_order_shipment_track_save_after>
                <observers>
                    <cdek_observer>
                        <type>model</type>
                        <class>cdek/observer</class>
                        <method>callCourier</method>
                    </cdek_observer>
                </observers>
            </sales_order_shipment_track_save_after>
        </events>
        <translate>
            <modules>
                <mage_adminhtml>
                    <files>
                        <cdek>Mygento_Cdek.csv</cdek>
                    </files>
                </mage_adminhtml>
            </modules>
        </translate>
        <menu>
            <mygento translate="title" module="cdek">
                <title>Mygento Modules</title>
                <sort_order>60</sort_order>
                <children>
                    <cdek translate="title" module="cdek">
                        <title>Cdek</title>
                        <sort_order>30</sort_order>
                        <children>
                            <settings translate="title" module="cdek">
                                <title>Settings</title>
                                <action>adminhtml/system_config/edit/section/carriers</action>
                                <sort_order>100</sort_order>
                            </settings>
                            <items module="cdek">
                                <title>PVZ Mapping</title>
                                <sort_order>0</sort_order>
                                <action>cdek/adminhtml_pvz</action>
                            </items>
                        </children>
                    </cdek>
                    
                </children>
            </mygento>
        </menu>
        <layout>
            <updates>
                <cdek>
                    <file>mygento/cdektracking.xml</file>
                </cdek>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Mygento_Cdek>
                            <title>CDEK Module</title>
                            <sort_order>10</sort_order>
                        </Mygento_Cdek>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <models>
            <cdek>
                <class>Mygento_Cdek_Model</class>
                <resourceModel>cdek_mysql4</resourceModel>
            </cdek>
            <cdek_mysql4>
                <class>Mygento_Cdek_Model_Mysql4</class>
                <entities>
                    <cdekcities>
                        <table>cdekcities</table>
                    </cdekcities>
                    <cdekcourier>
                        <table>cdekcourier</table>
                    </cdekcourier>
                    <pvz>
                        <table>cdekpvz</table>
                    </pvz>
                </entities>
            </cdek_mysql4>
        </models>
        <helpers>
            <cdek>
                <class>Mygento_Cdek_Helper</class>
            </cdek>
        </helpers>
        <blocks>
            <cdek>
                <class>Mygento_Cdek_Block</class>
            </cdek>
        </blocks>
        <resources>
            <cdek_setup>
                <setup>
                    <module>Mygento_Cdek</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cdek_setup>
            <cdek_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cdek_write>
            <cdek_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cdek_read>
        </resources>
        <sales>
            <shipping>
                <carriers>
                    <cdek>
                        <class>Mygento_Cdek_Model_Shipping</class>
                    </cdek>
                </carriers>
            </shipping>
        </sales>
    </global>
    <frontend>
        <routers>
            <cdek>
                <use>standard</use>
                <args>
                    <module>Mygento_Cdek</module>
                    <frontName>cdek</frontName>
                </args>
            </cdek>
        </routers>
        <layout>
            <updates>
                <cdek>
                    <file>mygento/cdek.xml</file>
                </cdek>
            </updates>
        </layout>
    </frontend>
    <default>
        <carriers>
            <cdek>
                <active>1</active>
                <model>cdek/shipping</model>
                <name>Место назначения:</name>
                <title>Через CDEK</title>
                <limit>4</limit>
                <connect>1</connect>
                <onlyone>0</onlyone>
                <freethree>0</freethree>
                <freetwo>0</freetwo>
                <freeone>0</freeone>
                <itemweight>weight</itemweight>
                <coff>0</coff>
                <displaydate>1</displaydate>
            </cdek>
        </carriers>
    </default>
    <admin>
        <routers>
            <cdek>
                <use>admin</use>
                <args>
                    <module>Mygento_Cdek</module>
                    <frontName>mycdek</frontName>
                </args>
            </cdek>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <cdek_dailyordercheck>
                <schedule>
                    <cron_expr>0 8 * * *</cron_expr>
                </schedule>
                <run>
                    <model>cdek/crontab::dailyordercheck</model>
                </run>
            </cdek_dailyordercheck>	
        </jobs>
    </crontab>
</config>